.custom-tabs {
  display: flex;
  gap: 25px;
  margin-bottom: 30px;
  justify-content: center;
}

.tab-btn {
  background: none;
  border: 2px solid #FFF;
  font-size: 20px;
  padding: 10px 15px;
  cursor: pointer;
  transition: all 0.3s ease;
  color: #FFF;
  position: relative;
  border-radius: 30px;
  outline: none;
}

.tab-btn.active {
  color: #ffe500;
  font-weight: bold;
  border: 2px solid #ffe500 ;
  transform:scale(1.1)
}

/* .tab-btn.active::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  height: 3px;
  width: 100%;
  background: #ffe500;
  border-radius: 2px;
} */
